- title("Password reminder")
.system_form
  .heading
    %h1= link_to("Scrawlers", :controller => :home)
    %p May we help you?
  = render :partial => "shared/flash_area"
  - form_tag({}, :class => "entry_form") do
    %label{:for => 'email'} Email
    .field= text_field_tag :email
    .button_tag
      %button{:type => 'submit', :class => 'button positive'} Forgot Password!
    = clear_both
  .otheroptions
    = "Enter your email address.  You will receive an email with a link to reset your password. Problems resetting your password? Please #{help_email_link}"
= set_focus_to_id "email"