- title("Reset password")
.system_form
  .heading
    %h1= link_to("Scrawlers", :controller => :home)
    %p Reset password
  = error_messages_for :user
  = render :partial => "shared/flash_area"
  - form_tag({}, :class => "entry_form") do
    %label{:for => "password"} Password
    .field= password_field_tag 'password'
    %label{:for => "password_confirmation"} Confirm Password
    .field= password_field_tag 'password_confirmation'
    .button_tag
      %button{:type => 'submit', :class => 'button positive'} Reset Password!
  = clear_both
= set_focus_to_id "password"