- title("Update password")
.app_form.big
  = error_messages_for :current_user
  - form_tag do
    = label_tag :old_password
    %br
    .field
      = password_field_tag :old_password, @old_password

    = label_tag :password, 'New password'
    %br
    .field
      = password_field_tag :password

    = label_tag :password_confirmation, 'Confirm password'
    %br
    .field
      = password_field_tag :password_confirmation
    
    %button.button.positive{:type => 'submit'} Update password!  
    = link_to("Cancel", edit_user_path(@user), :class => "button negative")
    = clear_both

  .otheroptions
    = link_to "Forgot your password?", forgot_password_path
    %br
    Having problems updating your profile?  Please
    = help_email_link + '.'

  = set_focus_to_id "old_password"
